@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#c9dae2, #a9b2c1);
  color: #0e141e;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

#welcome-header{
  width:99vw;
  position:relative;
}
#welcome-header img{
  width:100%;
}
.center-click-zone {
  position: absolute;
  top: 50%; 
  left: 46%; 
  transform: translate(-50%, -50%);
  width: 20%; 
  height: 20%;
  background: transparent; 
  cursor: pointer; 
  color:white;
  font-size:50px;
}
.starting-image{
  height: 100vh;
  width:100vw;
}
.chaos-div{
  width:100vw;
  height:50vh;
  position:relative;
}
.chaos-image{
  position:absolute;
  height:150px;
  width:150px;
}
.single-page-el{
  display:flex;
  align-items: center;
  justify-content: center;
}
.single-element-link{
  display: none;
  padding:20px 40px;
  font-size:20px;
  border-radius: 10%;
  background-color: white;
  text-decoration: none;
}
.single-element-center{
  display: flex;
  justify-content: center;
  align-items: center;
  left:50%;
}
.single-element-center:hover .single-element-link{
  display: block;
}